@-moz-document url(about:home), url(about:newtab), url(about:privatebrowsing) {
  .click-target-container *,
  .top-sites-list * {
    color: #f7ece4 !important ;
  }

  body::before {
    content: "";
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    /* background: #ff979b no-repeat url() center; */
    background: #1e1e2e;
    background-size: cover;
    width: 100vw;
    height: 100vh;
  }
}
@-moz-document url(about:newtab), url(about:home), url(about:privatebrowsing) {
  /* Changes the logo on the about:home screen */
  main {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .logo {
    background-image: url("images/nix.png") !important;
    padding: 9rem;
  }
  .icon {
    display: none !important;
  }
  .wordmark {
    display: none !important;
  }
  .search-inner-wrapper {
    display: none !important;
  }
}
